extends layout

block content
    .main.container
        h1 Error
        p There was an error processing your request.  Please try again.
        form(method='GET' action='/')
            button.btn.btn-primary(type='submit') Try Again